#title {
  text-align: left;
}

.container-fluid {
  padding: 3% 15%;
  width: max-content;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

/* headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Sections */
.colored-section {
  background-color: #222831;
  color: white;
}

.white-section {
  background-color: white;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title section */
.top-container {
  padding: 3% 15% 13%;
  width: 100%;
}

/* Title Image */

.title-image {
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
  width: 30%;
  padding-left: 10%;
}

/* Features */

#features {
  position: relative;
  padding: 10% 15%;
  z-index: 1;
}

.features-container {
  width: 100%;
}

.feature-box {
  padding: 4.5%;
}

.features-icon {
  color: #222831;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #303336;
}

.feature-title {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
}

.features-text {
  font-family: "Montserrat";
  color: #8f8f8f;
}

/* Testimonial Section */

.carousel-item {
  padding: 7% 15%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4vw;
  height: 4vw;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 13%;
  margin: 20px 20px 50px;
}

/* Pricing Section*/

#pricing {
  padding: 100px;
}

.card-header {
  padding-top: 4%;
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
}

.pricing-col {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  padding: 6% 15% 3% 15%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  padding: 7% 15%;
  font-size: 1rem;
}

.footer-icon {
  font-size: 1.5rem;
  padding: 1rem;
}

.copyright-text {
  padding-top: 1rem;
  font-size: 1.75rem;
  color: #8f8f8f;
}

/* Page Responsiveness */
@media (min-width: 992px) and (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
    width: 80%;
  }
}

@media (max-width: 991px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 300px;
  }
}
